<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/guest/head.ejs') %>
<body>  
                <%- include('./partials/guest/navbar.ejs') %>
                <div class="page-banner">
                    <div class="banner-caption">
                        <div class="banner-title">
                            <h2 class="text-white">Welcome to Lagos Country Club</h2>
                        </div>
                        <div class="banner-text mt-3">
                            <p class="text-white">Meet friends within your environment. Chat, Network, and expand together</p>
                        </div>
                        <div class="banner-buttons">
                            <button class="button1 btn btn-md mr-5 text-white">Take a Tour</button>
                            <button class="button2 btn btn-md text-white">Become a Member</button>
                        </div>
                    </div>
                </div>

                <div class="second-section mt-5 mb-5">
                    <div class="about">
                        <div id="about-title" class="text-center">
                            Who We Are
                        </div>

                        <div id="about-details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="about-img">
                                        <img src="/assets/images/about-us.jpg" height="500px" width="450px">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-text">
                                        <p class="text-justify">
                                            Founded on 3rd August 1949 and incorporated under the Land Perpetual
                                            Succession Ordinance, CAP 107 on 30th October 1956.</p>
                                            <p class="text-justify">
                                            The original site of the Club was the hanger of the Royal Air Force by the
                                            West African Airways Corporation (WAAC) owned by Anglophone West
                                            African Countries of Nigeria, Ghana, Sierra Leone and the Gambia.
                                            Upon independence of Nigeria in October 1960 WAAC was changed
                                            to Nigeria Airways.
                                            </p>
                                            <p class="text-justify">
                                            The Club moved from its original site to a second site sharing its
                                            boundaries with the Grange School and John Holt Supermarket at the
                                            Air Traffic Section Wing of the Murtala Mohammed Airport.
                                            </p>
        
        
                                        </p>
                                        <div class="about-more">
                                            <button class="btn btn-lg btn-light text-dark">Read more<span><i class="las la-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>

                    </div>
                </div>

                <div class="third-section">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="members-meet">
                                Meet The Board Members
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="scroll-btns">
                                <div class="container"><button class="btn btn-light btn-lg btn-left"><i class="las la-arrow-left"></i></button></div>
                                <div class="container"><button class="btn btn-light btn-lg btn-right"><i class="las la-arrow-right"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-members container row">
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="fourth-section">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="members-meet">
                                Meet The Board Members
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="scroll-btns">
                                <div class="container"><button class="btn btn-light btn-lg">Left</button></div>
                                <div class="container"><button class="btn btn-light btn-lg">Right</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="board-members container row">
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-member">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/assets/images/11.jpg" width="100px" height="100px"/>
                                    </div>
                                    <div class="col-md-7">
                                        <h4>AKANDE A. TAJUDEEN</h4>
                                        <h6>PRESIDENT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fifth-section">
                    <div class="partners">
                        <div class="partners-title">
                            <h3>Our Partners</h3>
                        </div>
                    </div>
                </div>

                <div class="sixth-section">
                    <div class="members-info">
                        <h4 class="text-center">
                            Membership of the Club is open to any individual of good character resident within
                            eighty kilometers radius of Lagos Country Club premises.
                        </h4>
                        <button class="btn btn-lg members-btn-join2 text-white">JOIN US NOW</button>
                    </div>
                </div>

                <%- include('./partials/guest/footer.ejs') %>
              
</body>
</html>