<div class="footer">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <h6>LOCATION</h6>
            <p class="text-justify">
              2 Joel Ogunnaike Street Off Mobolaji
              Bank Anthony Way, GRA Ikeja, Lagos.
            </p>

            <p class="text-justify">
              <i class="las la-phone-volume"></i> 0708 860 5062
            </p>

            <p class="text-justify">
              <i class="las la-envelope"></i> contact@lagoscountryclub.net
            </p>

          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Benefits</a></li>
              <li><a href="http://scanfcode.com/contact/">Criteria</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Club Events</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Membership</a></li>
              <li><a href="http://scanfcode.com/sitemap/">History & Constitution</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Management</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Club Anthem</a></li>
            </ul>
          </div>
          
          <div class="col-xs-6 col-md-3" style="padding-left: 7%">
            <h6>AFFLIATIONS</h6>
            <ul class="footer-links">
              <li>Lagos Lawn Tennis Club, Lagos</li>
              <li>Aba Club, Aba</li>
              <li>Apapa Club, Apapa</li>
              <li>Ibadan Tennis Club, Ibadan</li>
              <li>Ibadan Recreation Club, Ibadan</li>
              <li>Uyo Club, Uyo</li>
              <li>Other Affiliates</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3" style="padding-left: 7%">
            <h6>PHOTO GALLERY</h6>
            <div class="gallery">
              <div class="row">
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer1.jpg">
                </div>
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer2.jpg">
                </div>
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer3.jpg">
                </div>
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer4.jpg">
                </div>
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer5.jpg">
                </div>
                <div class="col-md-4">
                  <img src="/assets/images/Footer gallery/footer6.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">PASEB DIGITALS</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#" style="font-size: 40px;"><i class="lab la-facebook"></i></a></li>
              <li><a class="twitter" href="#" style="font-size: 40px;"><i class="lab la-twitter"></i></a></li>
              <li><a class="dribbble" href="#" style="font-size: 40px;"><i class="lab la-instagram"></i></a></li>
              <li><a class="linkedin" href="#" style="font-size: 40px;"><i class="lab la-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
  </div>