<div class="footer">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-4">
            <h6>About</h6>
            <p class="text-justify">Paseb – Digitals is an online digital store that is positioned to bring solution to problems. We are committed to the establishment of global best practices in the provision of digital solutions across the globe. Our areas of focus include Educational Resources, I.T and Tech Resources, International Trainings and Certifications, Digital Reports for lasting solutions, Sales and Marketing Resources, Cash Flow Resources and many  more. Using modern tools that guarantee efficiency and effectiveness, we are determined to develop indigenous capacity that has global relevance and eliminate hindrances.</p>
          </div>

          <div class="col-xs-8 col-md-4" style="padding-left: 7%">
            <h6>INFORMATION</h6>
            <ul class="footer-links">
              <li><a href="{{url('/')}}">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="{{url('/reader/browse')}}">Products</a></li>
              <li><a href="{{ route('register') }}">Get Started</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-xs-8 col-md-4">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">PASEB DIGITALS</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#" style="font-size: 40px;"><i class="lab la-facebook"></i></a></li>
              <li><a class="twitter" href="#" style="font-size: 40px;"><i class="lab la-twitter"></i></a></li>
              <li><a class="dribbble" href="#" style="font-size: 40px;"><i class="lab la-instagram"></i></a></li>
              <li><a class="linkedin" href="#" style="font-size: 40px;"><i class="lab la-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
  </div>