<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lagos Country Club</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lagos Country Club Voting System" />
	<meta name="author" content="Total IT Nigeria Limited" />

	<%- include('./styles.ejs') %>
</head>
