<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" width="70" height="45"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Club News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">7th Anniversary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <button class="button1 btn btn-sm text-white"><a href="/login">Login</a></button>
        </li>
        <li class="nav-item">
          <button class="button2 btn btn-sm text-white"><a href="/members">Become a Member</a></button>
        </li>
      </ul>
    </div>
  </nav>