@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-R.ttf);
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url(../fonts/Ubuntu/Ubuntu-B.ttf);
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url(../fonts/Ubuntu/Ubuntu-L.ttf);
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url(../fonts/Ubuntu/Ubuntu-M.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald Light';
  src: url(../fonts/Oswald/Oswald-Light.ttf);
}

@font-face {
  font-family: 'Oswald Bold';
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
}

.full-page {
    margin: 0!important;
    padding: 0!important;
}

nav, .banner-buttons, #about-title {
    text-transform: uppercase;
}

nav{
  font-family: 'Ubuntu';
}

.nav-item {
  margin-right: 10px;
  font-size: 13px;
}


.active .nav-link{
  color: #ee8b0a !important;
  border-bottom: 5px solid #ee8b0a;
}
.banner-title h2 {
  font-family: 'Ubuntu Bold';
}

.banner-text {
  font-family: 'Ubuntu';
}

.button1 {
  border: 1px solid white!important;
}

.button1 a {
  text-decoration: none;
  color: #ee8b0a;
}
.button2 a {
  text-decoration: none;
  color: white;
}

.button1:hover {
  background-color: #ee8b0a;
  color: white!important;
}

.button1:hover a {
  text-decoration: none;
  color: white;
}

.button2 {
  background-color: #ee8b0a;
  border: 1px solid #ee8b0a;
}



.page-banner {
    background-image: url(../images/landing-page-banner.jpg);
    width: 98.7vw;
    height: 100vh;
    background-size: contain;
}

.member-banner {
    background-image: url(../images/Member\ Sign\ up.jpg);
    width: 98.7vw;
    height: 50vh;
    background-size: contain;
}

.terms-banner {
    background-image: url(../images/Terms\ picture.jpg);
    width: 98.7vw;
    height: 25vh;
    background-size: contain;
}

.terms-content {
    position: absolute;
    display: flex;
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu Bold';
    color: #ee8b0a;
}

.login-banner-voters {
    background-image:url(../images/Voters\ login.jpg);
    width: 98.7vw;
    height: 100vh;
    background-size: contain;
}

.login-banner {
  background-image:url(../images/Member\ login.jpg);
  width: 98.7vw;
  height: 100vh;
  background-size: contain;
}

.banner-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: none;
}

.banner-title, .banner-text {
    position: relative;
}

.banner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-buttons .button1 {  
  padding: 5px 40px;
}

.banner-buttons .button2 { 
  padding: 5px 40px;
}

.member-banner-caption {
    position: absolute;
    background-color: rgba(24, 39, 51, 0.85);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;

}

.member-banner-title {
  font-family: 'Ubuntu Bold';
}

.second-section, .third-section{
    position: relative;
    margin: 7%;
}

.fourth-section {
  padding: 7%;
}

.register-section{
    position: relative;
}

#register-title {
  font-size: 25px;
  font-family: 'Ubuntu Bold';
  color: #ee8b0a;
}

.fifth-section {
    position: relative;
    background-image: url(../images/Our\ partners.jpg);
    width: 98.7vw;
    height: 110vh;
    background-size: contain;
    margin-bottom: 60px;
}

.partners {
    position: relative;
    width: 100%;
    height: 100%; 
    margin-top: 60px;
}

.sixth-section {
    position: relative;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    position: relative;
    margin-top: 10px;
}

#about-details {
  display: flex;
  flex-direction: row;
}

#about-title {
  font-family: 'Oswald Bold';
    font-size: 30px;
    margin-bottom: 10%;
    color: #ee8b0a;
}



.about-text {
  width: 60%;
  font-family: 'Ubuntu Medium';
  color: #737373;
  letter-spacing: 2px;
  font-size: 18px;
}

.about-more .btn {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  transition: 0.4s linear;
  padding-bottom: 5px;
}

.about-more button i {
  font-size: 36px;
  color: #ee8b0a;
  margin-left:4px;
  margin-top: 10px;
}

#members-meet {
    font-size: 35px;
    font-family: 'Oswald Bold';
    text-transform: uppercase;
    color: #ee8b0a;
}

#latest-news-title {
  font-size: 35px;
  font-family: 'Oswald Bold';
  text-transform: uppercase;
  color: #ee8b0a;
}

.partners-title {
  position: absolute;
  font-size: 30px;
  font-family: 'Oswald Bold';
  color: #ee8b0a;
  top: 15%;
  left: 40%;

}

.partners-logos {
    position: absolute;
    top: 40%;
    left: 20%;
}



.scroll-btns {
    display: flex;
}

.scroll-btns button {
  width: 70px;
  height: 70px;
}

.scroll-btns button i {
  font-size: 34px;
}

.scroll-btns .btn-left, .scroll-btns .btn-left1 {
  border-radius: 50%;
  border: 3px solid rgb(216, 216, 216);
}

.scroll-btns .btn-right, .scroll-btns .btn-right1 {
  border-radius: 50%;
  border: 3px solid gray;
}

.board-members {
    width: 100%!important;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.all-events {
  width: 100%!important;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 110%;
}

.member-details {
  margin-top: 10%;
  font-family: 'Ubuntu Bold';
}

.board-member {
    position: relative;
    width: 650px!important;
    min-width: 650px;
    line-height: 260px;
    height: 260px!important;
    margin-right: 50px;
    box-sizing: border-box;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
      transition: 0.4s linear;
}

.an-event {
  position: relative;
  width: 600px!important;
  min-width: 600px!important;
  line-height: 600px;
  height: 600px!important;
  margin-right: 50px;
  box-sizing: border-box;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    transition: 0.4s linear;
    
  background-image: url(../images/Latest\ events.jpg);
}

.an-event {
  background-color: transparent!important;
}

.an-event .content-point {
  position: absolute;
  top: 95%;
  left: 70%;
  width: 28%;
  padding: 7px 3px;
  background-color: ghostwhite;
  border-radius: 5%;
  font-family: 'Ubuntu Medium';
}

.an-event .content-point i {
  color: #ee8b0a;
  font-size: 32px;
}

.an-event .content-text-title {
  font-size: 28px;
  color: black;
  position: absolute;
  top: 60%;
  font-family: 'Ubuntu Bold';
}

.an-event .content-text-2 {
  font-size: 22px;
  color: black;
  position: absolute;
  top: 65%;
  font-family: 'Ubuntu';
}


.members-btn-join {
    margin: 20px 0 100px -4%;
    padding: 3px 30px;
    width: 110%!important;
    background-color: #ee8b0a;
    color: white;
}

.members-btn-join2 {
  margin: 20px 0 100px 20%;
  padding: 3px 30px;
  width: 60%!important;
  background-color: #ee8b0a;
  color: white;
  font-family: 'Ubuntu';
}

.members-btn-login{
    width: 100%!important;
    padding: 3px 15px;
    margin: 20px 0 0 0;
}

.members-btn-vote {
  width: 60%!important;
  padding: 3px 15px;
  margin: 20px 0 0 20%;
}

.members-btn-vote2 {
  width: 40%!important;
  padding: 3px 15px;
  margin: 20px 0 0 30%;
  background-color: #08B278;
  color: white;
}

.submit-vote-btn {
  background-color: #08B278;
  padding: 5px 40px;
  color: white;
}

.submit-vote-btn:hover {
  color: white;
}

.next-vote-btn {
  border: 1px solid #ee8b0a;
  padding: 5px 40px;
  color: #ee8b0a;
}

.next-vote-btn:hover {
  background-color: #ee8b0a;
  color: white;
}

.members-info {
  font-family: 'Ubuntu Bold';
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.register-text {
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 22px;
    font-family: 'Ubuntu';
}

.register-text2 {
  font-size: 20px;
  font-family: 'Ubuntu Medium';
}

#members-reg-form {
    margin: 4% 25%;
}

#members-reg-form label {
  font-size: 13px;
  color: rgb(146, 146, 146);
  text-transform: uppercase;
}

#members-reg-form input {
  height: 60px;
  border: 3px solid rgb(224, 224, 224);
}

.login-content {
    position: absolute;
    display: flex;
    background-color: rgba(59, 32, 16, 0.555);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-content2 {
  position: absolute;
  display: flex;
  background-color: rgba(49, 28, 20, 0.65);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.side-text {
    width: 50%;
    margin-left: 5%;
    padding-left: 5%;
    font-family: 'Ubuntu Bold';
}

.side-text .login-side-title {
  font-size: 60px!important;
}
.side-text p {
  font-size: 20px;
  font-family: 'Ubuntu Light';
}

.vote-title {
  font-family: 'Ubuntu Bold';
}
.form-inputs {
  font-family: 'Ubuntu';
  color: rgb(216, 215, 215);
}

.form-inputs input[type="text"] {
  height: 50px;
  border: 2px solid rgb(216, 215, 215);
}

.btn-vote .members-btn-login {
  background-color: #ee8b0a;
  color: white;
}

.container #vote-login {
    background-color: white;
    height: 420px;
    width: 350px;
    border-radius: 4%;
}

#vote-login .vote-title {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.vote-login-link {
  text-decoration: none;
  padding-left: 55%;
  color: rgb(216, 215, 215);
}

.form-inputs {
    padding: 10px 30px 0 30px;
}

.vote-section {
    width: 50%;
    margin-left: 25%;
}

#vote-check {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.vote-section .list-group {
    border-radius: 3%;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
      transition: 0.4s linear;
}

.vote-section .list-group .active {
  font-family: 'Oswald';
  background-color: rgba(8, 7, 7, 0.808);
  
}

.vote-section .list-group .list-group-item {
  padding: 30px 0;
  
}


.list-group-item span {
    margin-left: 20%;
}

.vote-btns {
    margin-top: 20px;
}

.btn-next-vote {
    padding-left: 23%;
}

.terms-section {
    width: 50%;
    margin-left: 25%;
    padding: 30px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
      transition: 0.4s linear;
}

.terms-section h3 {
  font-family: 'Ubuntu Bold';
  margin-bottom: 30px;
}


.terms-section p {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    letter-spacing: 3px;
}

.terms-agreement label {
  font-family: 'Ubuntu';
  letter-spacing: 1px;
}

.btn-vote2 {
  background-color: #08B278;
}